.diasDeTreino {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, .1);
}

.resultSection{
    background-color: rgba(0, 0, 0, 0.1);
}

.resultsContainer{
    background-color: rgba(0, 0, 0, .1);
}

.exercicio{
    background-color: rgba(0, 0, 0, .1);
}